:root {
    --brown: rgb(91, 63, 26);
    --white: #f6f7eb;
    --eggshell: rgb(245, 240, 232);
    --bluegrey: #2a4255;
    --grey: #313030;
    --wood: #56342a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--eggshell);
}

header {
    background-color: var(--grey);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header a {
    text-decoration: underline;
    color: var(--eggshell);
}

header h1 a {
    font-weight: lighter;
    font-size: 36px;
    color: var(--eggshell);
    margin: 0;
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
}



.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    height: 300px;
}

/* about me */
.container {
    margin: 100px auto;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    align-items: flex-start;
    justify-content: center;
}

.about-me h2 {
    color: var(--brown);
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: right;
    padding-top: 30px;
    padding-right: 60px;
    flex: 1 30%;
}

.aboutline {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 60px;
    border-left: 1px solid var(--brown);
}

.aboutline p {
    width: 60%;
    margin-bottom: 20px;
    color: var(--brown);
    line-height: 1.5;
    font-size: 22px;
    padding-top: 20px;
}
/* end about me */

/* work section */

.showcase h2 {
    color: var(--brown);
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    flex: 1 30%;
    padding-right: 60px;
    padding-top: 30px;
}

.project-container {
    display: flex;
    flex: 1 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid var(--brown);
    padding-left: 60px;
}

.project-container .firstwork {
    flex: 1 100%;
    position: relative;
    display: inline-block;
    background-color: var(--grey);
    padding: 8px;
    margin-bottom: 10px;
}

.firstwork img {
    max-width: 100%;
    display: block;
    opacity: 0.5;
    transition: opacity 1s ease-in-out 0.4s;
}

.firstwork img:hover {
    opacity: 1;
}

.firstwork a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.firstwork a:hover {
    max-width: auto;
    max-height: auto;
    margin: auto;
}

.project-container .work {
    flex: 1 50%;
    position: relative;
    background-color: var(--grey);
    padding: 8px;
    margin-bottom: 10px;
    justify-content:space-around
}

.work img {
    max-width: 100%;
    display: block;
    opacity: 0.5;
    transition: opacity 1s ease-in-out 0.4s;
}

.work img:hover {
    opacity: 1;
}

.work a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.work a:hover {
    max-width: auto;
    max-height: auto;
    margin: auto;
}

.project-container .fill {
    position: absolute;
    margin: 0 15px;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 50%;
    background-color: var(--grey);
}

.fill h3 {
    color: var(--eggshell);
    font-size: 1.5vw;
    font-weight: normal;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
}

.fill p {
    color: var(--eggshell);
    font-family: Arial, sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
}

/* contact */

.contact-me h2 {
    color: var(--brown);
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: right;
    padding-top: 30px;
    flex: 1 30%;
    padding-right: 60px;
}

.contactme {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 60px;
    border-left: 1px solid var(--brown);
}

.contactme p {
    margin: 0 auto;
    line-height: 1.7;
    color: var(--brown);
    width: 100%;
    font-size: 20px;
    text-align: left;
}


.contactme a {
    text-decoration: none;
    color: var(--brown);
}

/* footer */

footer {
    width: 100%;
    padding: 40px 35px;
}

footer p {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    color: var(--brown);
    margin: 0;
}

/* end footer */

