:root {
    --brown: rgb(142, 102, 50);
    --white: #f6f7eb;
    --eggshell: rgb(245, 240, 232)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(245, 240, 232);
}

header {
    background-color: #313030;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: var(--eggshell);
}

header h1 a {
    font-weight: lighter;
    font-size: 36px;
    color: var(--eggshell);
    margin: 0;
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
}



.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    height: 400px;
}

/* about me */
.container {
    margin: 100px auto;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    align-items: flex-start;
    justify-content: center;
}

.about-me h2 {
    color: var(--brown);
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-align: right;
    padding-top: 30px;
    padding-right: 60px;
    padding-left: 60px;
}

.aboutline {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 60px;
    border-left: 1px solid var(--brown);
}

.aboutline p {
    width: 60%;
    margin-bottom: 20px;
    color: var(--brown);
    line-height: 1.5;
    font-size: 18px;
    padding-top: 20px;
}



